body {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-background);
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#root {
    margin: var(--spacing-lg);
    padding: 0 var(--spacing-lg);
    box-shadow: var(--shadow-default);
    width: 100%;
    max-width: var(--content-width);
    background: var(--color-overlay);
    border-radius: var(--border-radius-md);
}