@import '../base/variables';

.counter {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;
    justify-content: center;
}

.time-block {
    flex: 1;
}

.time-block .number {
    font-size: 2rem;
    font-weight: bold;
}

.time-block .label {
    font-size: 0.8rem;
}
