@import '../base/variables';
@import '../utils/mixins';

.counter {
    @include flex-center;
    flex-wrap: wrap;
    gap: $spacing-sm;

    .time-block {
        flex: 1;

        .number {
            font-size: 2rem;
            font-weight: bold;
        }

        .label {
            font-size: 0.8rem;
        }
    }
}
