@import '../base/variables';
@import '../utils/mixins';

.quote-carousel {
    height: 125px;

    .quote-wrapper {
        @include flex-column;
        justify-content: center;
        height: 100%;

        .heart {
            font-size: 1.5rem;
            padding-bottom: $spacing-xs;
            color: $color-primary;
        }
    }
} 