@import 'variables';
@import '../utils/mixins';

body {
    @include flex-center;
    text-align: center;
    background: $color-background;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Short Stack', sans-serif;
}

#root {
    max-width: $content-width;
}

.container {
    padding: $spacing-xxl;

    > div {
        &:not(:last-child) {
            margin-bottom: $spacing-xxl;
        }
    }
}