@import 'variables';
@import '../utils/mixins';

body {
    @include flex-center;
    text-align: center;
    background: $color-background;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Short Stack', sans-serif;
}

#root {
    margin: $spacing-xl;
    box-shadow: $shadow-default;
    width: 100%;
    max-width: $content-width;
    background: $color-overlay;
    border-radius: $border-radius-md;
}

.container {
    padding: $spacing-xl;

    > div:not(:last-child) {
        margin-bottom: $spacing-xl;
    }
}