body {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-background);
}

.container {
    margin: var(--spacing-lg);
    box-shadow: var(--shadow-default);
    width: 100%;
    max-width: 1000px;
}
