.counter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    justify-content: center;
}

.time-block {
    flex: 1;
}

.time-block .number {
    font-size: 2em;
    font-weight: bold;
}

.time-block .label {
    font-size: 0.8em;
}