.music-player {
    padding: var(--spacing-xl) 0;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.music-player audio {
    width: 100%;
    margin-top: var(--spacing-sm);
    border-radius: var(--border-radius-sm);
    transition: transform var(--transition-speed);
}

.music-player audio:hover {
    transform: scale(1.02);
} 