.quote-carousel {
    height: 125px;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.quote-wrapper .heart {
    padding-bottom: 5px;
    color: var(--color-primary);
}