.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
}

.timeline-item {
    width: 250px;
}

.timeline-item .date {
    color: var(--color-primary);
    font-weight: bold;
    padding-bottom: var(--spacing-sm);
}

.nav-button {
    background: var(--color-overlay);
    border: none;
    color: var(--color-text);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}
